elasticsearch_url: "{{ elasticsearch_api_proto }}://{{ elasticsearch_hosts[0] }}:{{ elasticsearch_api_port }}"
kibana_elasticsearch_username: "{{ elasticsearch_username }}"
kibana_elasticsearch_password: "{{ elasticsearch_password }}"
kibana_index: ".kibana"

elasticsearch_preserve_host: true
verify_ssl: true

# Plugins that are included in the build, and no longer found in the plugins/ folder
bundled_plugin_ids:
- plugins/dashboard/index
- plugins/discover/index
- plugins/doc/index
- plugins/kibana/index
- plugins/markdown_vis/index
- plugins/metric_vis/index
- plugins/settings/index
- plugins/table_vis/index
- plugins/vis_types/index
- plugins/visualize/index
