elasticsearch_url: "{{ elasticsearch_api_proto }}://{{ elasticsearch_hosts[0] }}:{{ elasticsearch_api_port }}"
kibana_elasticsearch_username: "{{ elasticsearch_username }}"
kibana_elasticsearch_password: "{{ elasticsearch_password }}"
