[Unit]
Description=Deconst Presenter %I
Requires=docker.service deconst-content@%i.service
After=   docker.service deconst-content@%i.service

[Service]
EnvironmentFile=/etc/deconst/environment.sh
TimeoutSec=5min
Type=notify
NotifyAccess=all

ExecStart=/opt/bin/systemd-docker run \
  --rm \
  --name=presenter-%i \
  --link=content-service-%i:content-service \
  --env=CONTENT_SERVICE_URL=http://content-service:8080/ \
  --env=CONTROL_REPO_PATH=/var/deconst/control \
  --env=PRESENTED_URL_DOMAIN=${PRESENTED_URL_DOMAIN} \
  --env=PRESENTER_DIAGNOSTICS=${PRESENTER_DIAGNOSTICS} \
  --env=PRESENTER_LOG_LEVEL=${PRESENTER_LOG_LEVEL} \
  --env=PRESENTER_LOG_COLOR=false \
  --env=NODE_ENV=${NODE_ENV} \
  --volume=/var/deconst/control:/var/deconst/control:ro \
  --publish=0.0.0.0::8080 \
  quay.io/deconst/presenter

ExecStartPost=/opt/bin/record-port presenter-%i
ExecStartPost=/opt/bin/peekaboo-up presenter-%i ${PRESENTER_LB_ID}

ExecStop=/opt/bin/peekaboo-down presenter-%i ${PRESENTER_LB_ID}
ExecStop=/usr/bin/docker stop --time=2 presenter-%i
ExecStop=/usr/bin/docker rm -f presenter-%i

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
