[Unit]
Description=Deconst Nginx %I
Requires=docker.service deconst-presenter@%i.service deconst-content@%i.service
After=   docker.service deconst-presenter@%i.service deconst-content@%i.service

[Service]
EnvironmentFile=/etc/deconst/nginx-environment.sh
TimeoutSec=5min
Type=notify
NotifyAccess=all

ExecStart=/opt/bin/systemd-docker run \
  --rm \
  --name=nginx-%i \
  --link=content-service-%i:content \
  --link=presenter-%i:presenter \
  --volume=/etc/deconst/ssl:/var/ssl:ro \
  --publish=0.0.0.0::443 \
  --publish=0.0.0.0::9000 \
  quay.io/deconst/nginx

ExecStartPost=/opt/bin/record-port nginx-%i 443
ExecStartPost=/opt/bin/record-port nginx-%i 9000

ExecStartPost=/opt/bin/peekaboo-up nginx-%i 443 ${PRESENTER_LB_ID}
ExecStartPost=/opt/bin/peekaboo-up nginx-%i 9000 ${CONTENT_LB_ID}

ExecStop=/opt/bin/peekaboo-down nginx-%i 443 ${PRESENTER_LB_ID}
ExecStop=/opt/bin/peekaboo-down nginx-%i 9000 ${PRESENTER_LB_ID}

ExecStop=/usr/bin/docker stop --time=2 presenter-%i
ExecStop=/usr/bin/docker rm -f presenter-%i

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
