[Unit]
Description=Deconst Layout Service %I
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/deconst/environment.sh
TimeoutSec=0
Type=notify
NotifyAccess=all

ExecStart=/opt/bin/systemd-docker run \
  --rm \
  --name=layout-service-%i \
  --env=CONTROL_REPO_URL=${CONTROL_REPO_URL} \
  --env=CONTROL_REPO_BRANCH=${CONTROL_REPO_BRANCH} \
  --env=LAYOUT_LOG_LEVEL=${LAYOUT_LOG_LEVEL} \
  quay.io/deconst/layout-service

ExecStop=/usr/bin/docker stop --time=2 layout-service-%i
ExecStop=/usr/bin/docker rm -f layout-service-%i

Restart=always

[Install]
WantedBy=multi-user.target
