[Unit]
Description=Deconst Etcd Watcher %I
Requires=docker.service mapping@%i.service layout@%i.service etcd2.service
After=   docker.service mapping@%i.service layout@%i.service etcd2.service

[Service]
EnvironmentFile=/etc/deconst/environment.sh
TimeoutSec=0
Type=notify
NotifyAccess=all

ExecStart=/opt/bin/systemd-docker run \
  --rm \
  --name=etcd-watcher-%i \
  --link=mapping-service-%i:mapping-service \
  --link=layout-service-%i:layout-service \
  --env=ETCDCTL_PEERS=${ETCDCTL_PEERS} \
  --env=MAPPING_SERVICE_URL=http://mapping-service:8080 \
  --env=LAYOUT_SERVICE_URL=http://layout-service:8080 \
  quay.io/deconst/etcd-watcher

ExecStop=/usr/bin/docker stop --time=2 etcd-watcher-%i
ExecStop=/usr/bin/docker rm -f etcd-watcher-%i

Restart=always

[Install]
WantedBy=multi-user.target
