[Unit]
Description=Deconst Mapping Service %I
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/deconst/environment.sh
TimeoutStartSec=0
Type=notify
NotifyAccess=all

ExecStartPre=/usr/bin/docker pull quay.io/deconst/mapping-service

ExecStart=/opt/bin/systemd-docker run \
  --rm \
  --name=mapping-service-%i \
  --env=CONTROL_REPO_URL=${CONTROL_REPO_URL} \
  --env=CONTROL_REPO_BRANCH=${CONTROL_REPO_BRANCH} \
  --env=MAP_LOG_LEVEL=${MAP_LOG_LEVEL} \
  quay.io/deconst/mapping-service

ExecStop=/usr/bin/docker stop --time=2 mapping-service-%i
ExecStop=/usr/bin/docker rm -f mapping-service-%i

Restart=always

[Install]
WantedBy=multi-user.target
