[Unit]
Description=Deconst Webhook Service %I
Requires=docker.service

[Service]
EnvironmentFile=/etc/deconst/environment.sh
TimeoutStartSec=0
Type=notify
NotifyAccess=all

ExecStart=/opt/bin/systemd-docker run \
  --rm \
  --name=webhook-service-%i \
  --env=ETCD_URL=${ETCDCTL_PEERS} \
  --env=CONTROL_REPO_TOKEN=${CONTROL_REPO_TOKEN} \
  --env=WEBHOOK_LOG_LEVEL=${WEBHOOK_LOG_LEVEL} \
  --publish=0.0.0.0::8080 \
  quay.io/deconst/webhook-service

ExecStartPost=/opt/bin/peekaboo-up webhook-service-%i ${WEBHOOK_LB_ID}

ExecStop=/opt/bin/peekaboo-down webhook-service-%i ${WEBHOOK_LB_ID}
ExecStop=/usr/bin/docker stop --time=2 webhook-service-%i
ExecStop=/usr/bin/docker rm -f webhook-service-%i

Restart=always

[Install]
WantedBy=multi-user.target
