[Unit]
Description=Deconst Curator
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/curator/environment.sh

ExecStart=/usr/bin/docker run --rm \
  --env=ELASTICSEARCH_HOST=${ELASTICSEARCH_HOST} \
  --env=ELASTICSEARCH_PORT=${ELASTICSEARCH_PORT} \
  --env=ELASTICSEARCH_SSL=${ELASTICSEARCH_SSL} \
  --env=ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME} \
  --env=ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD} \
  --env=DAYS=${DAYS} \
  quay.io/deconst/curator prune
