# Environment variables used by deconst services.
# {{ ansible_managed }}

RACKSPACE_USERNAME={{ rackspace_username }}
RACKSPACE_APIKEY={{ rackspace_api_key }}
RACKSPACE_REGION={{ rackspace_region }}
RACKSPACE_SERVICENET="true"

RESTART_POLICY={{ restart }}

# Load balancer IDs

CONTENT_LB_ID={{ hostvars.localhost.clb_content_service.balancer.id }}
PRESENTER_LB_ID={{ hostvars.localhost.clb_presenter.balancer.id }}

# System Services

MONGODB_URL={{ mongodb_uri }}
ELASTICSEARCH_HOST={{ elasticsearch_api_proto }}://{{ elasticsearch_username }}:{{ elasticsearch_password }}@{{ elasticsearch_hosts[0] }}:{{ elasticsearch_api_port }}
ETCDCTL_PEERS={{ etcd_api_url }}

NODE_ENV=production

# Control Repository

CONTROL_REPO_URL={{ control_repository_url }}
CONTROL_REPO_BRANCH={{ control_repository_branch }}

# Content Service

ADMIN_APIKEY={{ content_admin_apikey | replace(' ', '') | trim }}
CONTENT_CONTAINER={{ content_container }}
ASSET_CONTAINER={{ asset_container }}

# Presenter

PRESENTED_URL_PROTO={{ presented_url_proto or '' }}
PRESENTED_URL_DOMAIN={{ presented_url_domain or '' }}
{% if enable_diagnostics is defined and enable_diagnostics %}
PRESENTER_DIAGNOSTICS="true"
{% endif %}

# Service Logging

CONTENT_LOG_LEVEL={{ content_log_level }}
LAYOUT_LOG_LEVEL={{ layout_log_level }}
MAP_LOG_LEVEL={{ map_log_level }}
PRESENTER_LOG_LEVEL={{ presenter_log_level }}
WEBHOOK_LOG_LEVEL={{ webhook_log_level }}
