{
  "network": {
    "servers": [
{%- for host in groups['deconst-elastic']|sort -%}
  "{{ hostvars[host].ansible_eth1.ipv4.address }}:5000"
  {%- if not loop.last %},{% endif -%}
{%- endfor -%}
    ],
    "ssl certificate": "/etc/ssl/private/{{ inventory_hostname }}-cert.pem",
    "ssl key": "/etc/ssl/private/{{ inventory_hostname }}-key.pem",
    "ssl ca": "/etc/ssl/certs/deconst-ca.pem",
    "timeout": 15
  },
  "files": [
    {
      "paths": [ "-" ],
      "fields": { "type": "stdin" }
    }
  ]
}
