# {{ ansible_managed }}

[Unit]
Description=Deconst Webhook Service Launcher
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker kill webhook-service-{{ item[0] }}
ExecStartPre=/usr/bin/docker rm webhook-service-{{ item[0] }}
ExecStart=/usr/bin/docker run \
  --detach \
  --name=webhook-service-{{ item[0] }} \
  --env=ETCD_URL={{ etcd_api_url }} \
  --env=CONTROL_REPO_TOKEN={{ control_repository_token }} \
  --env=WEBHOOK_LOG_LEVEL={{ webhook_log_level }} \
  --publish={{ 8993 + 10 * item[0]|int }}:8080 \
  --restart={{ restart }} \
  quay.io/deconst/webhook-service

[Install]
WantedBy=multi-user.target
