*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:DOCKER - [0:0]

# Always permit established connections
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# Permit everything on localhost
-A INPUT -i lo -j ACCEPT

# Allow SSH access from specific hosts
{% for addr in source_addresses %}
-A INPUT -i eth0 -p tcp -m tcp --source {{ addr }} --dport 22 -j ACCEPT
{% endfor %}

# etcd peering and clients over ServiceNet
{% for host in groups['deconst-worker'] %}
-A INPUT -i eth1 -p tcp --source {{ hostvars[host].ansible_eth1.ipv4.address }} --dport 2380 -j ACCEPT
-A INPUT -i eth1 -p tcp --source {{ hostvars[host].ansible_eth1.ipv4.address }} --dport 2379 -j ACCEPT
{% endfor %}

COMMIT
