#cloud-config

coreos:
  etcd:
    # generate a new token for each unique cluster from https://discovery.etcd.io/new?size=3
    # specify the intial size of your cluster with ?size=X
    discovery: {{ etcd_discovery_url }}
    addr: $private_ipv4:{{ etcd_api_port }}
    peer-addr: $private_ipv4:{{ etcd_peer_port }}
  units:
    - name: etcd.service
      command: start
